.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
button {
	padding: 1rem;
	background: rgb(112, 49, 240);
	color: white;
	margin: 2rem;
	border: none;
	font-weight: bolder;
	border-radius: 0.4rem;
	cursor: pointer;
}
.listItem {
	display: block;
	width: 40rem;
	height: 10rem;
	margin: 2rem auto;
	padding: 1rem;
	border: 0px solid black;
	border-radius: 0.4rem;
	/* cursor: pointer; */
	background: rgb(158, 118, 241);
	background: radial-gradient(circle, rgba(158, 118, 241, 1) 0%, rgba(79, 128, 228, 1) 100%);
}
.cityName {
	display: block;
	font-size: xx-large;
	font-weight: bold;
	padding-bottom: 1rem;
	color: white;
}
.cityDescription {
	font-style: italic;
	font-size: larger;
}
